@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;

}

main{
    padding: 16px;
}

footer{
    padding: 24px 0px;
    background-color: aliceblue;
}

img{
    max-width: 250px;
    max-height: 250px;
}

nav{
    padding: 16px;
    border: 1px soliid black;
    background-color: aliceblue;
}


ol{
    padding-left: 50px;
}

header{
    border-bottom: 2px solid black;
    position: sticky;
    top: 0px;
    background-color: white;
}

a{
    text-decoration: none;
    color: blueviolet;
}

a:hover {
    color: rgb(235, 142, 21);
    text-decoration: underline;
}

.recipe-list{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    /* grid-template-rows: repeat(4, 1fr);
    grid-row-start: 1; */
}

tbody tr:nth-child(even){
    background-color: rgb(210, 210, 210);
}


/* .recipes{
    display: grid;
    grid-template-rows: 20% 70% 1000%;
}

.recipe-title{
    grid-row-start: auto;
    grid-row-end: 2;
}

.recipe-image{
    grid-row-start: 2;
    grid-row-end: 3;
} */
